doctype html
html
    head
        title Home
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 
                a.home(href="/admin/mainhome") LIVRARIA
            a.header-login(href="/admin/login") Login 

        div
            div.btn-container
                a.btn.btn-primary(href='/admin/category/') Login cliente
                a.btn.btn-primary(href='/admin/product/')  Login ADM


        
        