doctype html
html
    head
        title Menu Pedidos
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 
                a.home(href="/") LIVRARIA UEBITCHU
        
        div.crud
            h1 EM CONSTRUÇÃO!

        