doctype html
html
    head
        title Adicionar Produto
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 
                a.home(href="/") LIVRARIA UEBITCHU

        h2.desc
            ADICIONAR PRODUTO:

        div.loginput
            form(method='POST', action='/admin/product/create', enctype='multipart/form-data')
                label Nome:
                input.form-control(name='name', type='text', required)
                label Descrição:
                input.form-control(name='description', type='text', required)
                label Preço:
                input.form-control(name='price', type='number', min=0, step='.01', required)
                label Autor:
                input.form-control(name='author', type='text', required)
                label Imagem:
                input.form-control(name='image', type='file', accept='image/*', required)
                br
                input.btn.btn-primary(type='submit',value='Enviar')
