doctype html
html
    head
        title Editar Produto
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header 
            h1 
                a.home(href="/") LIVRARIA UEBITCHU
        h2 EDITAR PRODUTO

        form(method='POST', action=`/admin/product/update`)
            label Id:
            input.form-control(name='id', type='text', value=product.id, readonly, required)
            label Nome:
            input.form-control(name='name', type='text', value=product.name, required)
            
            input()
            input.btn.btn-primary(type='submit',value='Submit')
