doctype html
html
    head
        title HOME
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 LIVRARIA UEBITCHU
        
        div.btn-container
            a.btn.btn-primary(href='/admin/category/') Categorias
            a.btn.btn-primary(href='/admin/product/') Produtos
            a.btn.btn-primary(href='/admin/') Pedidos
